* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root{
    --main_root:#598092;
    --main_color: linear-gradient(45deg, #d3d8d4, #759ece, #223f64);
    --text-color: #050505;
    --font-text: sans-serif;
    --secound_color: #223f64;
    --third_color: #759ece;

}


body {
    margin: 0;
    
    height: 100vh;
    background: var(--main_root);
    font-family: var(--font-text);
    font-family:var(--font-text);
    
}

.main{
    margin: 3rem;
    display: grid;
    grid-template-columns: 20pxpx 1fr;   
    grid-template-rows: auto auto auto;
    gap: 2rem;           
    position: relative;
}

.header{
    background: var(--main_root);
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: start;
    gap: 1.5rem;
    padding: 2rem 1rem;
    z-index: 10;
    
}

.profile{
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative; 
    z-index: 10; 
    display: flex;
}
.proyect{
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 10; 
}
.style{
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: var(--main_color);
    border-radius: 20px;
}
.contact{
    grid-column: 2/3;
    grid-row: 3/4;
    z-index: 10;
}
.logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #faeaea;
    box-shadow: 0 2px 6px rgba(0.5,0.5,0.5,0.5);
}
.nav_link {
    padding: 2rem 0.2rem;
    list-style: none;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    text-align: center;
}
.nav_link li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    padding: 0.3rem 0;
    transition: 0.3s ease;
}
.nav_link li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #333;
    transition: width 0.3s ease;
}

.nav_link li a:hover::after {
    width: 100%;
}
.container {
    position: relative;
    width: 400px;
    height: 250px;
}

.carrousel {
    padding: 0 0.1rem;
    position: absolute;
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 10px;
    transition: opacity 0.5s;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: carrusel 12s infinite;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
}
.img img:hover{
    transform: scale(1.1);
}

.s1 { animation-delay: 0s; }
.s2 { animation-delay: 3s; }
.s3 { animation-delay: 6s; }
.s4 { animation-delay: 9s; }

@keyframes carrusel {
    0%   { opacity: 0; }
    5%   { opacity: 1; }
    30%  { opacity: 1; }
    35%  { opacity: 0; }
    100% { opacity: 0; }
}

.text {
    position: absolute;
    width: 20 rem;
    height: 15 rem;
    padding: 20px;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#text:target {
    display: block;
}

#text:target ~ #carrousel{
    opacity: 0;
    pointer-events: none;
}

.close {
    float: right;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    font-weight: bold;
}
.text h1, h2{
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    color: #222;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.text p{
    line-height: 1.5;
    
}

.title h1 {
    font-family: var(--font-text);
    font-size: 3.5rem;          
    font-weight: 800;           
    color: #ffffff;             
    text-transform: uppercase;  
    letter-spacing: 4px;        
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, #ffffff, #b9d5fa);
    background-clip: text;
    color: transparent;
    text-shadow: 
        0 0 8px rgba(255,255,255,0.3),
        2px 2px 10px rgba(0, 0, 0, 0.3);  
        
}