.layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
} /*Aca esta es display de cajas el cual lo genero en un grid como funcionalidad completa del main*/

.section {
    padding: 4rem;
} /*cada section usan rem como buena practica responsive la mayoria de tamaños es con rem para evitar cortes de texto*/

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #fff;
}/*Margen bajo tamaño letra longitud del texto y color*/

.subtitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}


.description, .text-block {
    max-width: 700px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.7;
}


.carousel {
    width: 30rem;
    height: 18rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 1rem;
} /*configuraciones de las imagenes en carrusel*/

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: fade 12s infinite;
} /*generacion de animaciones y  posicionamiento de imagenes*/

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} /*tamaño de imagenes el cover se acomoda al tamaño de la caja cubriendo todo el espacio sin dañar las imagenes y gift*/

.s1 { animation-delay: 0s; }
.s2 { animation-delay: 3s; }
.s3 { animation-delay: 6s; }
.s4 { animation-delay: 9s; }

@keyframes fade {
    0% {opacity: 0;}
    10% {opacity: 1;}
    30% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}/*el fekframs es para animaciones genera tiempos de opacidad en periodas porcentuados, los tiempos por imagen se definen por imagen en la etiqueta anterior*/


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
}/* proceso responsive del grid poniendo la cantidad de cajas posibles en el espacio y poniendo minimos y maximos de tamaños de las cajas.*/

.card {
    padding: 1rem;
    text-align: center;
    background: #1b222c;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}/*configuraciones de estilo de targetas de habilidades*/

.card:hover {
    background: #26303f;
} /*hover cuando el cursor se posiciona el la caja de texto*/

.projects-vertical-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    max-width: 320px;
}

.projects-vertical-menu li a {
    color: #4ab8ff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
    display: block;
    border-radius: 0 5px 5px 0;
}

.projects-vertical-menu li a:hover {
    background-color: #1b2638;
    border-left-color: #00aaff;
    color: #00aaff;
    padding-left: 1.2rem;
    cursor: pointer;
}


.projects-contact-container {
    display: flex;
    gap: 3rem;
    padding: 3rem 0;
    flex-wrap: wrap;
}

.projects-side {
    flex: 1;
    max-width: 320px;
}

.contact-side {
    flex: 2;
    max-width: 600px;
}


.contact-side form {
    display: none; 
}


.contact-socials {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    max-width: 400px;
}


.contact-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #252c36;
    color: white;
    font-size: 2rem;
    transition: 0.3s;
    text-decoration: none;
}

.contact-socials a:hover {
    transform: scale(1.1);
}

.contact-socials a.github {
    background: #333;
    color: #fff;
}

.contact-socials a.facebook {
    background: #1877f2;
}

.contact-socials a.instagram {
    background: #c13584;
}

.contact-socials a.linkedin {
    background: #0077b5;
}


@media (max-width: 900px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .sidebar {
        flex-direction: row;
        justify-content: space-around;
        border-right: none;
        border-bottom: 1px solid #1e2630;
    }

    .nav-menu {
        flex-direction: row;
        gap: 1rem;
    }

    .projects-contact-container {
        flex-direction: column;
    }

    .projects-side, .contact-side {
        max-width: 100%;
    }
}
