.r {
  height: 100vh;
  margin: 0;
  background: var(--main_color);
  background-size: 400% 400%;
  animation: mover 5s infinite;
}
@keyframes mover {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}